<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer  class="sidenav" fixedInViewport opened="true" mode="side" *ngIf="shouldShowSidebar()">

    <div style="display: flex; flex-direction: column; height: 100%;">
      <div style="margin:auto ; margin-top: 10px">
        <app-language-switcher></app-language-switcher>
      </div>

      <div style="display: flex; justify-content: center; padding: 20px">
        <img src="mindflix-logo.png" alt="mindflix logo" width="200" >
      </div>

      <mat-nav-list class="main-options">
        <mat-list-item class="sidenav-item">
          <button mat-button routerLink="/home" class="button-item">
            <mat-icon class="icon-style">home</mat-icon>
            {{'main.home' | translate}}
          </button>
        </mat-list-item>
        <mat-list-item class="sidenav-item">
          <button mat-button routerLink="/explorer" class="button-item">
            <mat-icon class="icon-style">menu</mat-icon>
            {{'main.explore' | translate}}
          </button>
        </mat-list-item>
        <mat-list-item class="sidenav-item">
          <button mat-button class="button-item">
            <mat-icon class="icon-style">bookmarks</mat-icon>
            {{'main.lists' | translate}}
          </button>
        </mat-list-item>
        <mat-list-item class="sidenav-item" >
          <button mat-button class="button-item">
            <mat-icon class="icon-style">group</mat-icon>
            {{'main.forums' | translate}}
          </button>
        </mat-list-item>
        <mat-list-item class="sidenav-item">
          <button mat-button routerLink="/event" class="button-item">
            <mat-icon class="icon-style">public</mat-icon>
            {{'main.events' | translate}}
          </button>
        </mat-list-item>
      </mat-nav-list>

      <span class="spacer"></span>

      <mat-nav-list class="bottom-options">
        <mat-list-item class="sidenav-item">

          <button mat-button routerLink="/profile" class="button-item" id="button-bottom">
            <mat-icon class="icon-style">person</mat-icon>
            <span class="tooltip">Perfil</span>
          </button>
        </mat-list-item>
        <span class="spacer"></span>
        <mat-list-item class="sidenav-item">
          <button mat-button (click)="logout()" class="button-item">
            <mat-icon class="icon-style">logout</mat-icon>
            <span class="tooltip">Log out</span>
          </button>

        </mat-list-item>
      </mat-nav-list>

    </div>
  </mat-sidenav>

  <mat-sidenav-content class="content-container">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>



