<mat-card class="content-card">
  <div class="card-content">
    <img [alt]="content.title"
         [src]="content.image" mat-card-image class="imgCard"/>
    <div class="text-content">
    <mat-card-header>
      <h3>Titulo: {{content.title}}</h3>
    </mat-card-header>
    <mat-card-content>
      <p>Creator: {{content.creatorId}}</p>
      <p>Tipo: {{content.type}}</p>
      <p>Categoria: {{content.category}}</p>
      <p>{{content.description}}</p>
    </mat-card-content>
    <div class="btn">
    <button mat-fab extended class="btnCard">
      <mat-icon>star</mat-icon>Marcar como visto
    </button>
    <button mat-fab extended class="btnCard">
      <mat-icon>bookmarks</mat-icon>Añadir a lista
    </button>
    </div>
    </div>
  </div>
</mat-card>
