.content-card {
  display: flex; /* Usar Flexbox */
  align-items: center; /* Alinear verticalmente */
  padding: 1rem; /* Espaciado alrededor de la tarjeta */
  margin: 4rem;
}

.card-content {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.imgCard {
  width: 20rem;
  height: auto;
}

.text-content {
  padding: 1rem;
  flex: 1;
}

.btn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 3rem;

}
.btnCard {
  background-color: #008F7A;
  color: white;
}
