  <mat-tab label="Foros">
    <h1 class="list-name"> Foros</h1>
    <div class="list-container responsive-grid">

      <div *ngFor="let card of cards()">
        <mat-card>
          <img mat-card-image src="mindflix-logo.png" alt="mindflix logo" width="200" >
          <mat-card-header>
            <mat-card-title>{{ card.postId }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>{{ card.userId }}</p>
            <p>{{ card.score }}</p>
            <p>{{ card.comment }}</p>
            <p>{{ card.contentId }}</p>
          </mat-card-content>
        </mat-card>
      </div>

    </div>
  </mat-tab>
